<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CS</key>
	<dict>
		<key>subjectName</key>
		<string>Computer Science</string>
		<key>subjectID</key>
		<string>0</string>
	</dict>
	<key>GH</key>
	<dict>
		<key>subjectName</key>
		<string>Greek History</string>
		<key>subjectID</key>
		<string>1</string>
	</dict>
	<key>PS</key>
	<dict>
		<key>subjectName</key>
		<string>Pharmaceutical Science</string>
		<key>subjectID</key>
		<string>2</string>
	</dict>
	<key>FL</key>
	<dict>
		<key>subjectName</key>
		<string>French Literature</string>
		<key>subjectID</key>
		<string>3</string>
	</dict>
	<key>AD</key>
	<dict>
		<key>subjectName</key>
		<string>Applications Development</string>
		<key>subjectID</key>
		<string>4</string>
	</dict>
</dict>
</plist>
